<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.project.wefunk"
    versionCode = "10"
    version     = "1.0.0" >


  <name>pinch-zoom-test-4</name>

  <description>
      testing PinchZoomJS for MA project.
  </description>

<platform name="android" />

</widget>
